html{
background-size:cover;
}
body{
font-family:Arial, Helvetica, sans-serif;
margin:0;
padding:0;
}
a{
    text-decoration:none;
    color:black;
    cursor:pointer;
}
.a_button{
    background-color:#eeeeee;
    padding:10px 20px;
    color:#03a9f4!important;
    border-radius:10px;
    margin:0;
    float:left;
}
h4{
    margin:0;
}
.a_button:hover{
    background-color:white;
    color:#8bc34a!important;
}
*:hover{
transition:ease-in-out 0.1s;
}
form *:focus{
    outline: none;
}
form{
width:100%;
margin:auto;
}
.menu-bar{
    width:100%;
    position:fixed;
    z-index:99;
    background:linear-gradient(90deg ,#03a9f4,#8bc34a);
    background-color:#03a9f4;
    padding:10px;
}
.level-left{
    float:left;
}
.level-right{
    float:right;
    margin-right:50px;
}
.level-right a{
    float:left;
    color:#efefef;
    margin-right:30px;
}
.level-right a h1{
    font-size:18px;
    padding-top:7px;
    margin:0;
}
.level-right a h1:hover{
    color:white;
}
.search{
    border-radius:15px;
    background-color:#eeeeee;
    margin:0;
    float:left;
}
.search span{
    display: block;
    background:url("pic/search.png");
    width:35px;
    height:35px;
    border:0;
    margin:4px;
    padding:0;
    border-right:1px solid #cccccc;
    float:left;
}
.search input{
    font-size:20px;
    background-color:transparent;
    padding:10px;
    width:400px;
    border:0;
}
.content{
    padding:50px;
    overflow:hidden;
}
.title{
    font-weight:bold;
    margin:0;
}